# ─── Server ──────────────────────────────────────
PORT=3000
NODE_ENV=development

# ─── MongoDB ─────────────────────────────────────
MONGODB_URI=mongodb://deverisvu_db_user:5mZ4NBfHg4nYWsnT@ac-h0ysrp4-shard-00-00.bw7kxh1.mongodb.net:27017,ac-h0ysrp4-shard-00-01.bw7kxh1.mongodb.net:27017,ac-h0ysrp4-shard-00-02.bw7kxh1.mongodb.net:27017/?ssl=true&replicaSet=atlas-tmdkmx-shard-0&authSource=admin&appName=main

# ─── JWT ─────────────────────────────────────────
JWT_SECRET=1234546
JWT_EXPIRES_IN=7d

# ─── Bcrypt ──────────────────────────────────────
BCRYPT_ROUNDS=12

# ─── CORS ────────────────────────────────────────
# Comma-separated list of allowed origins
CORS_ORIGINS=http://localhost:5173,http://localhost:3001,http://localhost:8000,http://localhost:8001,http://localhost:3000
